{% macro input(name, class, type = 'text', size = 50, value) %}
    <input type = "{{ type }}" class ="{{ class }}" name = "{{ name }}"\
    type = "{{ type }}" size = "{{ size }}" value="{{ value }}" />
{% endmacro %}
{% macro button(name, class, value) %}
    <button  class ="{{ class }}" name = "{{ name }}"> {{value}} </button>
{% endmacro %}
{% macro tag(name, class, value) %}
    <{{name}} class="{{class}}">{{ value }} </{{name}}>
{% endmacro %}
{% macro table_chatroom(col) %}
    <tr>
            {% if col %}
                {% autoescape true %}
                <td> {{  col.name  }} </td>
                <td> {{ col.user.username }} </td>
                <td> {{ col.created_datetime }} </td>
                <td> <a href="/chatroom/{{ col.name }}" target="_blank"> Join 
                </a> </td>
                {% endautoescape %}
            {% endif %}
    </tr>
{% endmacro %}

