{% extends "layout.html" %}
{% block menu %}
    <ul class="pills">
        <li><a href="index.html">Home</a></li>
        <li class="active"><a href="chat.html">Home</a></li>
        <li><a href="login.html">Login</a></li>

    </ul>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='form/jquery.form.js') }}"
 type= "text/javascript"> </script>
<script src="{{ url_for('static', filename='onEnter.js') }}"
 type= "text/javascript"> </script>

<script src="{{ url_for('static', filename='jquery.mb.emoticons.js') }}"
type="text/javascript">
</script>
<script>
function process_text(text)
{
            $('aside.chat_content').append("<p class=message>" + text + "</p>");
            $('form#chat_message').clearForm();
    
}
function t(e)
{
            var value = $("textarea.message").val();
            process_text(value);
}
    $(document).ready(function t(e){
        $('form#chat_message').ajaxForm(function() {
            var value = $("textarea.message").val();
            process_text(value);
            });
            });
</script>
{% endblock %}
<section class="chat">
{% block heaer %}
    <h3 class="header">You are Chatting With 
   {% if members %}
        {% for member in members %}
            {{ member }}
        {% endfor %}.
    {% else %}
        None.
    {% endif %}
    </h3>
{% endblock %}

{% block content %}
<section class="content">
    <aside class="chat_content">
        welcome
    </aside>
</section>
<section>
    <article class="message">
        <form method="post" action="" id="chat_message">
            <textarea name="message" class ="message" onenter="t(e)" > 
            </textarea>
        </form>
    </article>
    <article>
    <aside class="logged_in_users">
        <h2> Logged In Users </h2>
        {% if logged_users %}
        {% else %}
            </h3>None</h3>
        {% endif %}

    </aside>
    <aside class="current_chat_members">
        <h2> Currently Chatting </h2>
        {% if current_chat_members %}
        {% else %}
           <h3>None</h3>
        {% endif %}
    </aside>
    </article>

</section>
</section>
{% endblock %}
