{% extends "layout.html" %}
{% block menu %}
    {% include 'chatroom.html' %}
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='form/jquery.form.js') }}"
 type= "text/javascript"> </script>
<script src="{{ url_for('static', filename='onEnter.js') }}"
 type= "text/javascript"> </script>

<script src="{{ url_for('static', filename='jquery.mb.emoticons.js') }}"
type="text/javascript">
</script>
<script type="text/javascript">
function process_text()
{

            $('aside.chat_content').append("<br><p class='message'></p>");
           var username =  $('.username').val() + ":" ;
           var username_html = "<span class='label_username'>" + username + 
                              "</span>";
           var now = new Date();
           var current_time = "<div class='label_time'>" + now.getHours() + ":"
                        + now.getMinutes()+ ":" + now.getSeconds() + "</div>";
           var chat_text = $("textarea.message").val();

           $('p.message').last().html(username_html + chat_text)
           .emoticonize(true).show();
           $('p.message').last().append(current_time);
           var content = "<p class='message'>" + username_html + chat_text +
                         current_time + "</p>";
           var room = $('.room').val();
           var request_number = $.get(document.URL + "publish/",
                                        {
                                                user: username,
                                                message: content,
                                                channel: room
                                            }
                                            
                                            );
                                                    

           $('form#chat_message').clearForm();
    
}
function t(e)
{
            var value = $('').html($("textarea.message").val()).emoticonize(true).show();
            process_text();
}
    $(document).ready(function t(e){
        $('form#chat_message').ajaxForm(function() {
            process_text();
            });
            });
           var room = $('.room').val();
           $.get(document.URL + "send/",function(data){
                                                        if(data.username == $('.username').val())
                                                        {
                                                           $('p.message').append(data.message);
                                                        }
                                                        });

</script>

{% endblock %}
<section class="chat">
{% block header %}
    <h3 class="header">You are Chatting With 
   {% if members %}
        {% for member in members %}
            {{ member }}
        {% endfor %}.
    {% else %}
        None.
    {% endif %}
    </h3>
<p class="text" id ="room">Chat Room: {{room}}</p>
{% endblock %}

{% block content %}
<section class="content">
    <aside class="chat_content">
        welcome
        <p class="message">
           <code> 
    smiles: {
      "(angel)":      "angel",
      " :@":          "angry",
      "(bandit)":     "bandit",
      "(bear)":       "bear",
      "(beer)":       "beer",
      " :D":          "bigsmile",
      "(bow)":        "bow",
      "(u)":          "brokenheart",
      "(bug)":        "bug",
      "(^)":          "cake",
      "(call)":       "call",
      "(cash)":       "cash",
      "(clap)":       "clapping",
      "(coffee)":     "coffee",
      " 8-)":         "cool",
      " ;(":          "crying",
      "(dance)":      "dance",
      "(devil)":      "devil",
      "(doh)":        "doh",
      "(drink)":      "drink",
      "(drunk)":      "drunk",
      "(dull)":       "dull",
      "(blush)":      "eblush",
      "(emo)":        "emo",
      "(envy)":       "envy",
      " ]:)":         "evilgrin",
      "(F)":          "flower",
      "(fubar)":      "fubar",
      "(giggle)":     "giggle",
      "(handshake)":  "handshake",
      "(happy)":      "happy",
      "(headbang)":   "headbang",
      "(heart)":      "heart",
      "(heidy)":      "heidy",
      "(hi)":         "hi",
      "(inlove)":     "inlove",
      "(wasntme)":    "itwasntme",
      "(kiss)":       "kiss",
      " :x":          "lipssealed",
      "(mail)":       "mail",
      "(makeup)":     "makeup",
      "(finger)":     "middlefinger",
      "(mmm)":        "mmm",
      "(mooning)":    "mooning",
      "(~)":          "movie",
      "(muscle)":     "muscle",
      "(music)":      "music",
      "(myspace)":    "myspace",
      " 8-|":         "nerd",
      "(ninja)":      "ninja",
      "(no)":         "no",
      "(nod)":        "nod",
      "(party)":      "party",
      "(phone)":      "phone",
      "(pizza)":      "pizza",
      "(poolparty)":  "poolparty",
      "(puke)":       "puke",
      "(punch)":      "punch",
      "(rain)":       "rain",
      "(rock)":       "rock",
      "(rofl)":       "rofl",
      " :(":          "sadsmile",
      "(shake)":      "shake",
      "(skype)":      "skype",
      " |-)":         "sleepy",
      "(smile)":      "smile",
      "(smirk)":      "smirk",
      "(smoke)":      "smoke",
      " :|":          "speechless",
      "(*)":          "star",
      "(sun)":        "sun",
      " :O":          "surprised",
      "(swear)":      "swear",
      "(sweat)":   "sweating",
      "(talk)":       "talking",
      "(think)":      "thinking",
      "(o)":          "time",
      "(tmi)":        "tmi",
      "(toivo)":      "toivo",
      " :P":          "tongueout",
      "(wait)":       "wait",
      "(whew)":       "whew",
      "(wink)":       "wink",
      " :^)":         "wondering",
      " :S":          "worried",
      "(yawn)":       "yawn",
      }
      </code>
            <hr>
            <br/>
        </p>
    </aside>
</section>
<section>
    <article class="message">
        <form method="post" action="" id="chat_message">
            <input type="hidden" class="username" value="{{ username }}"> </input>
            <input type="hidden" class="room" value="{{ room }}"></input>
      <p class="text"> Message: </p>
      <textarea name="message" class ="message" 
                                     onenter="t(e )" > 
            </textarea>
        </form>
    </article>
</section>
</section>
{% endblock %}
