{% extends "layout.html" %}
{% block menu %}
     {% if  user_name is sameas None %}
        <p class="text"> 
        <br/><br/><br/><br/><br/> Welcome to Gummi - A Multi User Chat Client<br/></p>
        <a href="{{url_for('login')}}">
        <img class="login" src = "{{ url_for('static', filename='facebook-login-button.png') }}" height=250 width=250>
        </a>
        

     {% else %}
        {% include 'menu.html' %}
       
       </p>
     {% endif %}
{% endblock %}
{% block content%}
    <p class="text">Your IP:{{ip}}</p>
    <p class="text"> Browser: {{ browser }} </p>
{% endblock %}


      
