{% extends "layout.html" %}
{% block menu %}
     {% if  user_name is sameas None %}
        <p class="text"> 
        <br/><br/><br/><br/><br/> Welcome to Gummi - A Multi User Chat Client
        <img src = "{{ url_for('static', 'facebook-login-button.png') }}">
        </p>

     {% else %}
        <p class="text"> Welcome to Gummi - A mutli User Chat Client.<br/>
        <a href="{{ url_for('login') }}">
        <img src = "{{ url_for('static', filename='facebook-login-button.png') }}"
       width = 400 ></a>
       
       </p>
        {% include 'menu.html' %}
     {% endif %}
{% endblock %}


      
