ul.menu{
    font-family: arial, sans-serif;
    font-size: 100%;
    background: #666;
    color: #fff;
    }

ul.menu, li.menu_item{
    list-style: none;
    }

ul.menu{
    overflow: hidden;
    }

ul.menu li.menu_item a.menu{
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    height: 3em;
    width: 10em;
    padding: 1em;
    /* firefox */
    -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    /* safari+chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 7);
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -moz-transition: -moz-transform .15s linear;
    -o-transition: -o-transform .15s linear;
    -webkit-transition: -webkit-transform .15s linear;
    }
ul.menu li.menu_item:nth-child(even) a.menu{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:realative;
    top: 5px;
    background: #cfc;
    }
ul.menu li.menu_item:nth-child(3n) a.menu{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:realative;
    top: 5px;
    background: #ccf;
    }


ul.menu li.menu_item:nth-child(5n) a.menu{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:realative;
    top: 5px;
    }

ul.menu li.menu_item a.menu:hover, ul.menu li.menu_item a.menu:focus{
    -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 7);
    -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 7);
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position: relative;
    z-index: 5;
}


ul.menu li.menu_item{
    margin: 1em;
    float: left;
    font-size: 140%
    font-weight: bold;
    padding-bottom: 10px;
    font-family: "Rennie Beanie", arial, sans-serif;

    }

.text
{
    font-weight: 400;
    font-size: 22px;
    line-height: 1.3em;
    color: #666;
}
p
{
    display: block;
    text-align: center;
}
.new_chatroom
{
    position:relative;
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 70px;
    padding: 25px;
    min-height: 250px;
    height: 100%;
    background: #f9f488;
    color: #666;
    position: relative;
    -webkit-box-shadow:0 4px 10px rgba(0, 0, 0, 0 3);
    -moz-box-shadow:0 4px 10px rgba(0, 0, 0, 0 3);
    -ms-box-shadow: 0 4px 10px rgba(0, 0, 0 3);
    box-shadow:0 4px 10px rgba(0, 0, 0, 0 3);
    border: 1px solid #ddcc13;
    vertical-align: top;
}
input.textbox
{
   font-size: 18px;
   border: 1px solid #cbbe79;
   background-color: white;
   color: #444;
   line-height: 1.3em!important;
   vertical-align: middle;
   margin: 0;
   width: 425px;
   height: 26px;
}
.button
{
    float:left;
    height: 100%;
    margin: 0;
    padding: 10px 16px 10px 16px;
    font-size: 20px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: block;
    text-align: left;
    color: #777;
    line-height: 1.3em;
}
.error_message
{
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0px 5px 0px;
    background: #ffcfcf;
    border: 1px solid #801b1b;
    color: #801b1b;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    margin: 0;
    outline: 0;
    vertical-align: baseline;
    font-size:16px;
}
.success_message
{
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0px 5px 0px;
    background: #ffcfcf;
    border: 1px solid #801b1b;
    color: #801b1b;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    margin: 0;
    outline: 0;
    vertical-align: baseline;
    font-size:16px;
}
